{% extends "interface/portal.html" %}

{% block content %}
  <section>
  <h2> Google database </h2>
    <p> <a href = "{%url 'interface:test'%}"> Do test </a> </p>
    <p> <a href = "{%url 'interface:group'%}"> View groups </a> </p>
  </section>

  <section>
  <h2> LLNL2 database </h2>
    <p> <a href = "{%url 'interface:testLLNL2'%}"> Do test </a> </p>
    <p> <a href = "{%url 'interface:groupLLNL2'%}"> View groups </a> </p>
  </section>

  <section>
  <h2> LLNL3 database </h2>
    <p> <a href = "{%url 'interface:testLLNL3'%}"> Do test </a> </p>
    <p> <a href = "{%url 'interface:groupLLNL3'%}"> View groups </a> </p>
  </section>

  <section>
  <h2> Building database </h2>
    <p> <a href = "{%url 'interface:testBuilding'%}"> Do test </a> </p>
    <p> <a href = "{%url 'interface:groupBuilding'%}"> View groups </a> </p>
  </section>

  <section>
  <h2> Color database </h2>
    <p> <a href = "{%url 'interface:testCOLOR'%}"> Do test </a> </p>
    <p> <a href = "{%url 'interface:groupCOLOR'%}"> View groups </a> </p>
  </section>

{% endblock %}