{% extends "interface/portal.html" %}

{% block head %}
  <title>ViSiProg</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'color.css' %}">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="{% static 'color.js' %}"></script>

{% endblock %}

{% block content %}
<div style="text-align:center">
  Drag most similar images from the right box into the left box. Press space or click Shuffle to get new images.
</div>
<div>
  <span id="progress"> You have seen 0% of the database </span>
  <br>
  <input type="button" id="ShuffleButton" value="Shuffle" data-inline="true">
  <button id="SubmitButton" style="display:none">Submit</button>
</div>

<div class="wrapper">
  <div id="group" class="ui-widget-content ui-stable-default">
    <h4 class="ui-widget-header"> Group </h4>
    <ul class="batch ui-helper-reset"></ul>
  </div>

  <div class="ui-widget ui-helper-clearfix">
    <ul id="batch" class="batch ui-helper-reset ui-helper-clearfix"> </ul>
  </div>
</div>

<script>
  controller.init(function() {
    controller.makeUIactions();
  })

  $('#SubmitButton').on("click", submitData);

  function submitData() {
  // send result to server
    var groups = localStorage.getItem("groups");

    $.ajax({
      url:"{%url 'interface:testCOLOR'%}",
      type:"POST",
      data: { group:groups,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
      success:function() {
        alert("Submitted succeffully");
        window.location = '{%url 'interface:groupCOLOR'%}'
      },
    })
  }
  
</script>
{% endblock %}

