*{
	margin:0; padding:0;  
}

@media only screen and (min-device-width: 1500px) {
	.wrapper{
		margin-top: 10px; 
		position :relative;
		width: 100%; 
		margin: 0px auto; 
		height:1000px;
	}

	#group {
		position: absolute; 
		top: 300px; left: 0; 
		bottom: 0; 
		width: 410px; height: 440px;
		background: black; 
		display:inline-block;
	}

	#group h4 { 
		line-height: 16px; 
		margin: 0 0 0.4em; 
	}

	#batch {
		position: absolute; 
		top: 10px; right: 10;
		bottom:0; left:420px; 
		width: 1225px; height: 820px; 
		background: black;
	}

	.batch li { 
		float: left; 
		width: 128px; 
		margin: 1 1em 1em 1;
	}
	.batch li img { 
		display:block;
		margin:auto;
	}

	li {
		margin: 3px;
	}
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 1500px) {
	.wrapper{
		margin-top: 0px; 
		position :relative;
		width: 100%; 
		margin: 0px auto; 
		height:620px;
	}

	#group {
		position: absolute; 
		top: 230px; left: 0; 
		bottom: 0; 
		width: 310px; height: 335px;
		background: black; 
		display:inline-block;
	}

	#group h4 { 
		line-height: 16px; 
		margin: 0 0 0.4em; 
	}

	#batch {
		position: absolute; 
		top: 10px; right: 10;
		bottom:0; left:330px; 
		width:930px; height: 620px; 
		background: black; 
	}

	.batch li { 
		float: left; 
		width: 95px; 
		margin: 1 1em 1em 1;
	}
	.batch li img { 
		display:block;
		width:95px;
		height:95px;
		margin:auto;
	}

	li {
		margin: 3px;
	}

}


