*{
	margin:0; padding:0;  
}

.wrapper{
	margin-top: 10px; 
	position :relative;
	width: 100%; 
	margin: 0px auto; 
	height:1000px;
}

#group {
	position: absolute; 
	top: 300px; left: 0; 
	bottom: 0; 
	width: 390px; height: 420px;
	background: orange; 
	display:inline-block;
}

#group h4 { 
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#batch {
	position: absolute; 
	top: 10px; right: 10;
	bottom:0; left:400px; 
	width: 780px; height: 780px; 
	background: DarkSlateBlue; 
}

.batch li { 
	float: left; 
	width: 128px; 
	margin: 1 1em 1em 1;
}

.batch li img { 
	display:block;
	margin:auto;
}