*{
	margin:10; padding:0;  
}

.wrapper{
	margin-top: 10px; 
	position :relative;
	width: 100%; 
	margin: 0px auto; 
	height:1000px;
}

#group {
	position: absolute; 
	top: 300px; left: 0; 
	bottom: 0; 
	width: 420px; height: 450px;
	background: #55FF7F; 
	display:inline-block;
}

#group h4 { 
	line-height: 16px; 
	margin: 0 0 0.4em; 
}

#batch {
	position: absolute; 
	top: 10px; right: 10;
	bottom:0; left:430px; 
	width: 840px; height: 840px; 
	background: #C8C8C8; 
}

.batch li { 
	float: left; 
	width: 128px; 
	margin: 1 1em 1em 1;
}

.batch li img { 
	display:block;
	margin:auto;
}

li {
	margin: 5px;
}